<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }} - nscala-time</title>
    {% if page.description.en %}
    <meta name="description" content="{{ page.description.en }}">
    {% endif %}
    <meta name="author" content="{{ site.author.name.en }}">

    <meta property="og:site_name" content="nscala-time documentation site" />
    <meta property="og:title" content="nscala-time" />
    <meta property="og:description" content="{{ page.description.en }}" />

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/bootstrap_override.css" rel="stylesheet">

</head>

<body>
<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container-fluid">

            <a class="brand" href="/">{{ site.title }}</a>

            <div class="nav-collapse">
                <ul class="nav">
                    {% assign pages_list = site.pages %}
                    {% assign group = 'navigation_en' %}
                    {% include JB/pages_list %}
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span9">
            {{ content }}
        </div>
</div>
<!-- /container -->

<script src="{{ ASSET_PATH }}/bootstrap/js/jquery.min.js"></script>
<script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap.min.js"></script>


</body>
</html>
