name: scala-steward
on:
  push:
    branches: [ master ]
  schedule:
  - cron: '0 3 * * *'
  workflow_dispatch:
jobs:
  scala-steward:
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == 'nscala-time' }}
    steps:
    - name: Generate token
      id: generate_token
      uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
      with:
        app-id: 89839
        private-key: ${{ secrets.NSCALA_TIME_BOT_KEY }}
    - uses: sbt/setup-sbt@3e125ece5c3e5248e18da9ed8d2cce3d335ec8dd # v1.1.14
    - name: Launch Scala Steward
      uses: scala-steward-org/scala-steward-action@f60ccd18bc9d8083e6809d9dc3db4a69a71d856c # v2.78.0
      with:
        github-token: ${{ steps.generate_token.outputs.token }}
        author-email: "74924036+nscala-time-bot[bot]@users.noreply.github.com"
        author-name: nscala-time-bot[bot]
