name: scala-steward
on:
  push:
    branches: [ master ]
  schedule:
  - cron: '0 3 * * *'
  workflow_dispatch:
jobs:
  scala-steward:
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == 'nscala-time' }}
    steps:
    - name: Generate token
      id: generate_token
      uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
      with:
        app-id: 89839
        private-key: ${{ secrets.NSCALA_TIME_BOT_KEY }}
    - uses: sbt/setup-sbt@ae54f7cfe46ec0d24ade661d77f007360ab48bda # v1.1.16
    - name: Launch Scala Steward
      uses: scala-steward-org/scala-steward-action@df2a4cec1721d0b48be3e1d1f0acdf7543ea0fb4 # v2.84.0
      with:
        github-token: ${{ steps.generate_token.outputs.token }}
        author-email: "74924036+nscala-time-bot[bot]@users.noreply.github.com"
        author-name: nscala-time-bot[bot]
